<<<<<<< HEAD
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <title><%= title %></title>
  </head>
  <body style="font-family: sans-serif; background-color: #f0f0f0; padding: 1em">
=======
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex" />
  <title><%= title %></title>
</head>
  <body style="font-family: sans-serif; background-color: #f0f0f0; padding: 1em;">
>>>>>>> upstream/main
    <%= pageHeader %>
    <hr />
    <h2>Service Info</h2>
    <pre><%= JSON.stringify(serviceInfo, null, 2) %></pre>
  </body>
</html>
