<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= title %></title>
    <style>
      a,
      a:visited {
        color: #0066cc;
      }

      .pagination {
        list-style-type: none;
        padding: 0;
      }

      .pagination li {
        display: inline-block;
      }

      .pagination li a {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
      }

      .pagination li.active a {
        background-color: #58739c;
        color: #fff;
      }

      table {
        border-collapse: collapse;
        border: 1px solid #ccc;
      }

      table td,
      table th {
        border: 1px solid #ccc;
        padding: 0.25em 0.5em;
      }

      th.active {
        background-color: #cccccc;
      }

      td.actions {
        padding: 0;
        width: 0;
        text-align: center;
      }

      td.actions a {
        text-decoration: none;
        background-color: transparent;
        padding: 0.5em;
        height: 100%;
        width: 100%;
      }

      td.actions:hover {
        background-color: #cccccc;
      }

      @media (max-width: 600px) {
        table {
          width: 100%;
        }
        table td,
        table th {
          display: block;
          width: 100%;
        }
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body style="font-family: sans-serif; background-color: #1a1a1a; padding: 1rem; color: #dddddd">
    <%- include("partials/shared_flash", { flashData: flash }) %>
  </body>
</html>
